/* Reset some default styles */
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

/* Collapsible */
.collapsible__container {
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: inline-flex;
    min-width: 25rem;
    max-height: 6.5rem;
  }

.collapsible__header {
    display: flex;
    flex-direction: column;
    padding: 5px 20px 0px 20px;
    white-space: nowrap;
}

.collapsible__heading {
    margin: 0;
    font-size: 1.2rem;
}

.collapsible__chevron {
    transition: transform 0.3s;
    transform: rotate(180deg);

}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible__selection {
    font-size: 1.4rem;
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    pointer-events: auto;
    min-width: 250px;
    justify-content: space-between;
}

.collapsible__content {
    position: relative;
    list-style: none;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all .3s;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: -1rem 1rem 0rem 1rem;
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
    pointer-events: auto;
}


.collapsible__list {
    position: relative;
    padding: 5px;
}

.collapsible__list:hover::before {
    content: "";
    position: absolute;
    top: 0px; /* Adjust to match your margin-top value */
    right: -6px;
    bottom: 0px; /* Adjust to match your margin-bottom value */
    left: -6px;
    background-color: lightgray;
    z-index: -1;
}