<section class="sidebar">
  <ul class="sidebar__list">
    <li class="sidebar__selection">
      <i class="sidebar__icon fa-solid fa-gauge"></i
      ><span class="sidebar__text">Dashboard</span>
    </li>
    <li class="sidebar__selection">
      <i class="sidebar__icon fa-solid fa-user" style="color: #ccc"></i
      ><span class="sidebar__text">Users</span>
    </li>
    <li class="sidebar__selection">
      <i class="sidebar__icon fa-solid fa-sitemap"></i
      ><span class="sidebar__text">Site</span>
    </li>
    <li class="sidebar__selection">
      <i class="sidebar__icon fa-solid fa-dollar-sign"></i
      ><span class="sidebar__text">Sales</span>
    </li>
    <li class="sidebar__selection">
      <i class="sidebar__icon fa-solid fa-envelope"></i
      ><span class="sidebar__text">Emails</span>
    </li>
    <li class="sidebar__selection">
      <i class="sidebar__icon fa-solid fa-gear"></i
      ><span class="sidebar__text">Settings</span>
    </li>
  </ul>
</section>
