<section class="sidebar">
  <ul class="sidebar__list">
    <li class="sidebar__selection">
      <i class="sidebar__icon fa-solid fa-map"></i
      ><span class="sidebar__text">Map</span>
    </li>
    <li class="sidebar__selection">
      <i class="sidebar__icon fa-solid fa-cloud"></i
      ><span class="sidebar__text">Weather</span>
    </li>
    <li class="sidebar__selection">
      <i class="sidebar__icon fa-solid fa-trophy"></i
      ><span class="sidebar__text">Records</span>
    </li>
  </ul>
</section>
