/* Reset some default styles */
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Header */
.header {
    position: relative;
    width: 100%;
    background-color: #66c0ec;
    height: 5.5rem;
}

.header__content {
    font-family: 'Paytone One', sans-serif;
    text-align: left;
    font-size: 3.5rem;
    margin: 0;
    margin-left: .5rem;
}

/* Sidebar */
.sidebar {
    position: absolute;
    background-color: #66c0ec;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 5rem;
    transition: width .5s;
    overflow: hidden;
    margin-top: -.5rem;
    z-index: 2;
}

.sidebar:hover {
    position: absolute;
    width: 15rem;
    z-index: 2; /* Bring sidebar to the front when expanded */
}


.sidebar__list {
    padding:0;
}

.sidebar__selection {
    display: flex;
    align-items: center;
    padding: 1.6rem 0;
    font-size: 1.4rem;
    color: black;
    transition: width .5s;
    font-weight: 600;
}

.sidebar__selection:hover {
    background-color: lightslategray;
    min-width: 15rem;
}

.sidebar__icon {
    width: 4rem;
    text-align: center;
    margin-right: 1rem;
    margin-left: .3rem;
    font-size: 2rem;
}


.sidebar__text {
    text-decoration: none;
    color: inherit;
}

.active--link {
    color: darkblue;
  }

/* Reset some default styles */
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

/* Collapsible */
.collapsible__block {
    margin: 10px 60px 10px 60px;
    display: flex;
  justify-content: flex-start;
  gap: 20px;
  
}

.collapsible__container {
    position: relative;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: inline-flex;
    max-width: 20rem;
    max-height: 6.5rem;
    background-color: #fff;
  }

.collapsible__header {
    display: flex;
    flex-direction: column;
    padding: 5px 20px 0px 20px;
    white-space: nowrap;
}

.collapsible__heading {
    margin: 0;
    font-size: 1.2rem;
}

.collapsible__chevron {
    transition: transform 0.3s;
    transform: rotate(180deg);

}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible__selection {
    font-size: 1.4rem;
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    pointer-events: auto;
    max-width: 20rem;
    min-width: 15rem;
    justify-content: space-between;
}

.collapsible--expanded .collapsible__content {
    max-height: 40vh;
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
}

.collapsible__content {
    position: relative;
    list-style: none;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all .3s;
    font-size: 1.4rem;
    border-radius: 5px;
    margin: -1rem 1rem 0rem 1rem;
    overflow-y: auto;
}

.collapsible__list {
    position: relative;
    padding: 5px;
}

.collapsible__list:hover::before {
    content: "";
    position: absolute;
    top: 0px; /* Adjust to match your margin-top value */
    right: -6px;
    bottom: 0px; /* Adjust to match your margin-bottom value */
    left: -6px;
    background-color: lightgray;
    z-index: -1;
}

/* Map */

.map__block {
    margin: 10px 60px 10px 60px;
    display: flex;
    justify-content: flex-start;
  
}

.map__container {
    width: 85vh;
    height: 85vh;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.map__title {
    margin-top: 10px;
    font-size: 1.5rem; 
    font-weight: bold;
    min-width: 350px;
}

.map {
    width: 95%;
    height: 92%;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 0;
}

/* Weather Charts */

.chart__container {
    display: flex;
  }
  
.line__chart {
    flex: 1;
    padding: 20px;
}
  
.pie__chart {
    flex: 1;
    padding: 20px;
}

/* Style the section headers for the charts */
.section__header {
  margin-bottom: 20px;
  color: #333;
  font-size: 20px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  text-align: center; /* Center the section header text */
}

/* Style the line chart canvas element */
#rides__Chart {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the pie chart canvas element */
#pie__Chart {
  width: 100%;
  max-height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}